<!DOCTYPE html>
<html>
    <head>
      
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='/assets/style.css' rel='stylesheet'>
        <title>
            Success Page
        </title>
      
    >
    </head>
    <body >
      <div class='success'>
          <h1> Succesfully logged out !!</h1><br>
          


         

      </div>
    
    
    </body>
    
</html>