<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='/assets/style.css' rel='stylesheet'>
        <title>
            Success Page
        </title>
        <style>
            a{
                padding: 10px 18px;
                background-color: rgba(28, 221, 28, 0.829);
                text-decoration: none;
                color: white;
            }
        </style>

    
    </head>
    <body>
      <div class='success'>
          <h1> Succesfully logged in !!</h1><br>
          <p>Username: <%= data.user %></p><br><br>

          <a   href='logout' >Logout</a>

      </div>
    
    
    </body>
    
</html>